<nav class="vertical-sidebar">
    <div class="app-logo mt-logo-box">
        <a class="logo mt-logo" href="/app/home">
            <img alt="Motley Terpz" class="mt-logo-img"
                src="/assets/infix_theme/images/logo.png?v={{ build_version }}">
        </a>
    </div>

    <div class="app-nav" id="app-simple-bar" data-simplebar>
        <ul class="main-nav p-0 mt-2">
            <li class="menu-title">
                <span>Workspace</span>
            </li>

            {% for page in pages %}
            <li>
                <a href="/app/{{ page.name | lower | replace(' ', '-') }}">
                    <span class="sidebar-item-icon">
                        {% if page.custom_animated_icon %}
                        <iconify-icon icon="line-md:{{ page.custom_animated_icon }}"></iconify-icon>
                        {% elif page.icon and 'fa-' in page.icon %}
                        <i class="{{ page.icon }}"></i>
                        {% else %}
                        <svg class="icon" aria-hidden="true"><use href="#icon-{{ page.icon or 'folder-normal' }}"></use></svg>
                        {% endif %}
                    </span>
                    <span class="sidebar-item-label">{{ page.title }}</span>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</nav>